<div class="nav_container">
<%= link_to root_path, class: "icons" do %>
<i class="fas fa-arrow-left fa-2x"></i>
<% end %>
<h1 class="login_title">Sign Up</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">    
    <%= f.text_field :name, autocomplete: "name", class:'form_fields', placeholder: 'Full Name' %>
  </div>

  <div class="field">    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form_fields', placeholder: 'Email' %>
  </div>

  <div class="field">    
    <%= f.password_field :password, autocomplete: "new-password", class:'form_fields', placeholder: 'Password' %>
  </div>

  <div class="field">    
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form_fields', placeholder: 'Password Confirmation' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
